*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #dd4f7c;
}

.App{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width:100;
}

.player {
  display: block;
  background-image: linear-gradient(to bottom, violet, indigo);
  margin: 15px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.player > h4 {
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  
}

.player > p {
  margin: 4px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}

.player > p span {
  font-weight: 400;
  width: fit-content;
}

.details .details_image:after {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.details .details_image img {
  display: block;
  margin: 20px auto;
  object-fit: contain;
  width: 100%;
  max-width: 700px;
  border-radius: 100%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8),
    -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.details .details_title {
  text-align: center;
  color: #eee;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);

  margin-bottom: 10px;
}

.details .details_artist {
  text-align: center;
  color: #aaa;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);

  margin-bottom: 20px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.control .control_playbutton {
  display: flex;
  margin: 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0, 0, 0, 0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #ffce00;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.control .control_skipbtn {
  color: #ffce00;
  background-color: inherit;
}

.audio {
  margin-top: -20px;
  margin-bottom: 5px;
  outline-width: 0;
  opacity: 0.4;
}

.control .control_skipbtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}
.controls .control_skipbtn {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: white;
  background-color: inherit;
}

audio::-webkit-media-controls-play-button {
  display: none;
}